/* {} # @ */

.slogan {
	background-color: #eada33;
	padding: 4px;
}

#slogan {
	position: relative;
	top: -5vh;
}

#main-container {
	text-align: center;
}
#cursus {
	margin: 10vh 0 5vh 0;
}

#cursus span {
	background-color: #eada33;
	padding: 4px;
}

#tete {
	position: relative;
	top: -5vh;
	width: 50%;
	height: 80vh;
}

#text-wrapper {
	width: 80%;
	margin-left: 10%;
	text-align: center;
}

h1 {
	margin: 5vh 0 7vh 0;
}

h2 {
	margin: 0 0 7vh 0;
}

p {
	margin: 0 0 7vh 0;
}